@using escorts_directory.Models.VM
@model List<EscortWithPhoto>

@foreach (var escort in Model)
{
    var e = escort.Escort;
    <div class="modelPhoto photoWith_review largeHeight">
        <figure class="modelPhoto-image-container">
            <a asp-action="model_profile" asp-route-id="@e.Id" class="modelPhoto-image">
                <img src="@escort.PhotoUrl" alt="@e.Name" />
            </a>
        </figure>
        <div class="modelPhoto-details desctionText_hide">
            <div class="modelTitle_Style vignetColor">
                <p>@e.LocationCity</p>
                <h2><span>@e.Name</span></h2>
                <div class="model_sortBiography_lists">
                    <ul>
                        <li>Age: @e.Age</li>
                        <li>Height: @e.HeightCm cm</li>
                        <li>Body type: @e.BustType</li>
                        <li>Bust: @e.BustSize</li>
                        <li>Hair colour: @e.HairColor</li>
                        <li>Eye colour: @e.Eyes</li>
                    </ul>
                    <a asp-action="model_profile" asp-route-id="@e.Id">Profile</a>
                </div>
            </div>
        </div>
    </div>
}
