@using escorts_directory.Models.VM
@model List<EscortWithPhoto>

@foreach (var escort in Model)
{
    var e = escort.Escort;
    <div class="modelPhoto photoWith_review largeHeight">
        <figure class="modelPhoto-image-container">
            <a asp-action="ModelProfile"
                       asp-controller="Home"
                       asp-route-state="@escort.Escort.LocationState.ToLower().Replace(" ", "-")"
                       asp-route-city="@escort.Escort.LocationCity.ToLower().Replace(" ", "-")"
                       asp-route-name="@escort.Escort.Name.ToLower().Replace(" ", "-")" class="modelPhoto-image">
                <img src="@escort.PhotoUrl" alt="@e.Name" />
            </a>
        </figure>
        <div class="modelPhoto-details desctionText_hide">
            <div class="modelTitle_Style vignetColor">
                <p>@e.LocationCity</p>
                <h2><span>@e.Name</span></h2>
                <div class="model_sortBiography_lists">
                    <ul>
                        <li>Age: @e.Age</li>
                        <li>Height: @e.HeightCm cm</li>
                        <li>Body type: @e.BustType</li>
                        <li>Bust: @e.BustSize</li>
                        <li>Hair colour: @e.HairColor</li>
                        <li>Eye colour: @e.Eyes</li>
                    </ul>
                    <a asp-action="ModelProfile"
                       asp-controller="Home"
                       asp-route-state="@escort.Escort.LocationState.ToLower().Replace(" ", "-")"
                       asp-route-city="@escort.Escort.LocationCity.ToLower().Replace(" ", "-")"
                       asp-route-name="@escort.Escort.Name.ToLower().Replace(" ", "-")">
                        @escort.Escort.Name
                    </a>
                </div>
            </div>
        </div>
        @if (escort.Badges.Any())
        {
            <div class="profileBadged_block">
                <div class="singleRowStyle">
                    @foreach (var badge in escort.Badges)
                    {
                        <div class="status-label @(badge == "Available now" ? "online" : badge == "Online" ? "availableNow" : "verified")">
                            @badge
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}
